<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="helpers.AnnotationTransformer"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="All Tests">
        <packages>
            <package name="tests.aPItests" />
            <package name="tests.uItests" />
        </packages>
    </test>
</suite>